*:root{
    --primary-color: #1ABC9C;
    --blue-background-color: #3A546D;
    --secondary_color:#2C3E50;

}
header{
    background-color: var(--secondary_color)
}
.jumbo_header{
    background-color: var(--primary-color);
}
.my_hr{
    width: 10%;
    height: 3px;
    color: white;
    opacity: unset;
}
.about_section{
    background-color: var(--primary-color);
}
.footer_top{
    background-color: var(--blue-background-color);
}
.footer_bottom{
    background-color: var(--secondary_color);
}
.send_btn{
    background-color: var(--primary-color);
}
.brand_btn{
    width: 1.6rem;
}
.color_text{
    color: var(--primary-color);
}