*:root{
    --primary-color: #1ABC9C;
    --secondary-color: #3A546D;
}
header{
    background-color: var(--secondary-color);
}
.jumbo_header{
    background-color: var(--primary-color);
}
hr{
    width: 10%;
    height: 3px;
    color: white;
    opacity: unset;
}
.about_section{
    background-color: var(--primary-color);
}
footer{
    background-color: var(--secondary-color);
}